<div class="container col-three">
	<h3>New Elements in HTML5</h3>
	<table>
		<tbody>	
			<tr>
				<th>Elements</th>
			</tr>
			<tr><td>Article</td><td>Main</td><td>Mark</td><td>Nav</td></tr>
			<tr><td>Aside</td><td>Progress</td><td>datalist</td></tr>
			<tr><td>Header</td><td>Section</td><td>Footer</td></tr>
		</tbody>
	</table>
</div>
<div class="container col-three">
	<h3>New Input types in HTML5</h3>
	<table>
		<tbody>
			<tr>
				<th>Type</th>
			</tr>
			<tr><td>date</td><td>search</td></tr>
			<tr><td>email</td><td>tel</td></tr>
			<tr><td>number</td><td>range</td></tr>
		</tbody>
	</table>
</div>
<div class="container col-three">
	<h3>New Input attributes in HTML5</h3>
	<table>
		<tbody>
			<tr>
				<th>Attributes</th>
			</tr>
			<tr><td>autocomplete</td><td>min and max</td><td>list</td></tr>
			<tr><td>autofocus</td><td>placeholder</td><td>pattern</td></tr>
			<tr><td>form</td><td>required</td></tr>
		</tbody>
	</table>
</div>